// 1. Your custom variables and variable overwrites.
// $global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() {
//     color: #000;
// }

// 4. Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";
@import "./variables";

.img-responsive {
    width: 100%;
    height: auto;
}

.banner {
    min-height: 500px;
    background-color: #A8D6E5;
}

h3 {
    font-family: 'Barlow', sans-serif;
}

h1,
h2 {
    &.uk-heading-small {
        font-family: 'Playfair Display', serif;
        font-size: 30px;
    }
}

body {
    font-family: 'Barlow', sans-serif;
    color: #000;
}

.uk-text-bold {
    font-weight: 600;
}

.biouron-last-color {
    color: $biouron-last-color;
}

.biouron-second-color {
    color: $biouron-second-color;
}

.uk-text-large {
    font-size: 26px;
}


.uk-button-biouron {
    background-color: $biouron-last-color;
    color: #fff;
    min-width: 220px;
    letter-spacing: 1.3px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
}

.uk-card-title-biouron {
    color: $biouron-last-color;
    font-size: 25px;
}

.uk-list {
    span:first-of-type {
        color: $biouron-second-color;
    }
}

.arrow {
    background-color: $biouron-lightsecond-color;
    color: #fff;
    padding: 10px 15px;
}

.uk-dotnav>*>* {
    background-color: lighten($biouron-second-color, 20%);
    border: transparent;
}

.uk-dotnav>.uk-active>* {
    background-color: $biouron-second-color;
}

.testimonial {
    background-color: #F7F7F7;
}


.uk-navbar-container .uk-active:not(:first-of-type) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: $biouron-last-color;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
    }
}

.pollakiuria {
    h3 {
        color: $biouron-second-color;
        text-transform: uppercase;
        font-size: 18px;
    }

    .uk-card {
        background-color: $biouron-background-color;
    }

    img {
        width: 100%;
    }
}

.underscore {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 3px;
        background-color: #A25E8B;
        bottom: -15px;
        left: calc(50% - 40px);
    }
}

.underscore-left {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 3px;
        background-color: #A25E8B;
        bottom: -15px;
        left: 0;
    }
}

@media (min-width:640px) {

    h1,
    h2 {
        &.uk-heading-small {
            font-family: 'Playfair Display', serif;
            font-size: 60px;
        }
    }
}


/* walidacja formularza*/
.form-error {
    display: none;
}

.form-error-text {
    display: block;
    position: absolute;
    color: #c02020;
}

.uk-input,
.uk-select,
.uk-textarea {
    background: #F7F7F7;
    color: #666;
    border: 1px solid transparent;
}

input:invalid.field-error-input {
    border-color: #c02020;
    outline: none;
    box-shadow: 0 0 2px #c02020;
}

input:required:valid {
    border-color: #12b63b;
    outline: none;
    box-shadow: 0 0 2px #12b63b;
}

.loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
}

.loading:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content: "";
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 999;
}

@keyframes rotateSingleLoading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.honey {
    display: none;
}

@media (max-width:380px) {

    #cconsent-bar button {
        margin-top: 15px;
        display: block;
    }

    .uk-text-large {
        font-size: 22px;
    }

    .banner {
        min-height: 550px;
    }
}